extends layout

block content
.container.py-4.py-xl-5
  h1 Hello [username]
  .table-responsive
    table.table
      thead
        tr
          th DVD Title
          th Rental Date
          th Due Date
          th Remove
      tbody
        tr
          // Overdue dvd title highlighted in red, should also be labelled appropriately
          td
            span(style='color: rgb(208, 23, 11);') DVD Title One
          td
            span(style='color: rgb(208, 23, 11);') 9/9/22
          td
            span(style='color: rgb(208, 23, 11);') 16/9/22
          // Button to remove dvd from return list
          td
            button.btn.btn-primary(type='button') X
        tr
          td DVD Title Two
          td 9/10/22
          td 16/10/22
          td
            button.btn.btn-primary(type='button') X
        tr
          td DVD Title Three
          td 9/10/22
          td 16/10/22
          td
            button.btn.btn-primary(type='button') X