html {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {
  padding: 50px;
  min-height: 100%;
}

a {
  color: #00B7FF;
}

.card{
  margin-bottom: 2rem;
  
}

.row{
  display: flex;
  justify-content: space-around;
}

input{
  margin:0.6rem;
}


